<link rel="stylesheet" href="/style.css">
<%- include('partials/header') %>
<div class="container">
    <h1>All Blogs</h1>
    <a href="/blogs/new" class="btn">Create New Blog</a>
    <div class="blog-list">
        <% blogs.forEach(blog => { %>
            <div class="blog-item">
                <h2><a href="/blogs/<%= blog._id %>"><%= blog.title %></a></h2>
                <p><%= blog.body.substring(0, 100) %>...</p>
            </div>
        <% }) %>
    </div>
</div>
<%- include('partials/footer') %>
